In [ ]:
def add():
    print("hi")
    print("hello")
    

add()

In [ ]:
def capital_letters(x):
    x=name.upper()
    return x
    
    
#name="hello world"
capital_letters(name)

In [ ]:
def pop_func():
    l=[3,4,5,6]
    x=l.pop()
    print(l)
    print(x)
    
    
pop_func()

In [ ]:
def detail(age,name):
    print(f"my name is {name}")
    print(f"my age is {age}")
    
    
detail(20,"anu")

In [ ]:
def increased_salary(salary):
    newsalary=salary*1.10
    print("revised salary",newsalary)
    return newsalary


x=increased_salary(200)
print(x)
bonus=2*x/100
print("Bonus is:",bonus)

In [ ]:
def calculate_area(base,height):
    area=base*height
    print("calculated area is",area)
    return area


x=calculate_area(10,20)
print(x)

In [ ]:
def calculatearea():
    return True,False
    print("hello")
    
x,y=calculatearea()
print(x,y)

In [ ]:
def calculatearea(base=20,height=100):
    area= base* height/2
    print(area)
    
    
calculatearea(base=2,height=1)

In [ ]:
calculatearea()

In [ ]:
calculatearea(height=5)

In [ ]:
calculatearea(4,5)
calculatearea(4)
calculatearea(height=10,base=5)

In [29]:
d={}
type(d)

dict

In [31]:
d["name"]="anu"
d["age"]=35
d["address"]="UK"
#print(d)
d

{'name': 'anu', 'age': 35, 'address': 'UK'}

In [32]:
#name of dictionary key and function parameter should be same

In [34]:
def varlength(mclass,age,name,address):
    print(name,age)

In [35]:
varlength("java",**d)
print(d)

anu 35
{'name': 'anu', 'age': 35, 'address': 'UK'}

In [39]:
a="python"


def revArgLen(d):
    print(a)
    print(d)
    return a


x=revArgLen(234)
print(x)
print(a)

python
234
python
python

In [40]:
a_var="glabal value"

def afunc():
    a_var="global value"
    print(id(a_var))
    print(a_var,"a_var inside a function")
    return a_var

x= afunc()
print(a_var,"a_var outside the function")
print(id(a_var))

1865088263472
global value a_var inside a function
glabal value a_var outside the function
1865088262384

In [41]:
b_var= "outside value"

def b_func():
    global b_var
    print(id(b_var))
    b_var="inside value"
    print(b_var,"b_var inside function")
    

print(b_var, "b_var outside a function")
b_func()
print(b_var,"b_var outside a function")
print(id(b_var))

outside value b_var outside a function
1865088265072
inside value b_var inside function
inside value b_var outside a function
1865088264944

In [42]:
from math import pi

a_var="global value"

def outer():
    a_var="local value"
    pi="#434"
    print("pi value",pi)
    print("outer before:",a_var)
    
    def inner():
        a_var="inner value"
        print("in inner():",a_var)
        
    inner()
    print("outr after:",a_var)
    
    
print(pi)
outer()
print("global:",a_var)
pi="#435"
print(pi)

3.141592653589793
pi value #434
outer before: local value
in inner(): inner value
outr after: local value
global: global value
#435

In [43]:
name= "hi"

def greet():
    global name
    name="hello"
    print(name)
    
greet()
print(name)

hello
hello

In [ ]:
def greet(string name):
    print(f"name")
    

    
greet("anu")

In [59]:
def greet(name):
    print("hello",name)

    
greet("anu")

hello anu

# OOPs concept

In [84]:
class fruits:
    type="apple"
    color="red" 
    shape="circle"
    
    def feature(self):
        print(self.type)
        print(self.color)
        return print("healthy")
        
    
    
    
f=fruits()
d=fruits()
print(f.type, f.color, d.shape)
print(f"{f.type is d.type}")
d.feature()
#d.feature(d)
f is fruits
#d is f

#print(f.type,f.color)

f.color= "green"
f.feature()

apple red circle
True
apple
red
healthy
apple
green
healthy

In [71]:
dir(fruits)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'feature',
 'shape',
 'type']

In [83]:
l= list()
t= tuple()
d= dir()
f= fruits()
f.feature()

healthy

In [103]:
class Employee:
    def __init__(self,x,y,z):
        self.name=x
        self.salary=y
        self.age=z
        
        
    def display_details(self):
        print("Name:",self.name,", Salary:",self.salary,",age:",self.age)

In [104]:
emp1 = Employee("anu", 20000, 25)
emp2= Employee("sanji",50000,30)
emp1.display_details()
emp2.display_details()

Name: anu , Salary: 20000 ,age: 25
Name: sanji , Salary: 50000 ,age: 30

In [105]:
class Fruits:
    def __init__(self,x,y,z):
        self.type=x
        self.color=y
        self.shape=z
        
        
    def display_details(self):
        print("type:",self.type,", color:",self.color,",shape:",self.shape)

In [106]:
f1 = Fruits("apple", "red", "round")
f2= Fruits("orange","orange","circle")
f1.display_details()
f2.display_details()

type: apple , color: red ,shape: round
type: orange , color: orange ,shape: circle

In [107]:
class Example:
    staticVariable=5
    

Example.staticVariable

5

In [109]:
instance=Example()
instance.staticVariable

5

In [115]:
class Employee:
    def __init__(self,x,y,z):
        self.name=x
        self.salary=y
        self.age=z    
    
    def __str__(self):
        #return "this will be printed"
        return f"name:{self.name},salary:{self.salary},age:{self.age}"
    
emp1=Employee("anu",10000,20)
print(emp1)

name:anu,salary:10000,age:20

In [130]:
class Employee:
    def __init__(self,x):
        self.name=x
        print("New Employee " + x + " has been created")
        
    def __del__(self):
        print("Employee "+ self.name + " has been destryoed")
        
    
    def __str__(self):
        #return "this will be printed"
        return f"Employee name is {self.name}"
    
emp1=Employee("anu")
print(emp1)

New Employee anu has been created
Employee name is anu

In [129]:
del emp1

Employee anu has been destryoed

In [131]:
print(emp1)

Employee name is anu

In [144]:
class Teacher:
    def __init__(self,x):
        self.teacher_name=x
        print("Teacher class constructor")
        
    def set_info(self,name,):
        self.teacher_name="Goyal"
        
    def get_info(self):
        print("teacher name is :", self.teacher_name)
        

class Student(Teacher):
    def __init__(self):
        Teacher.__init__(self,x)
        print("calling student constructor")
        
    
    def student_info():
        print("student details")

In [145]:
t=Teacher("sanu")
s=Student()
s.get_info()
dir(s)

Teacher class constructor
Teacher class constructor
calling student constructor
teacher name is : global value

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'get_info',
 'set_info',
 'student_info',
 'teacher_name']

In [149]:
class Person:
    def __init__(self, name, surname, dob):
        self.__name=name
        self.__surname=surname
        self.__dob=dob
        
    def age(self,current_year):
        return current_year - self.__dob
    
    def __str__(self):
        return "%s %s and was born %d." % (
            self.__name,
            self.__surname,
            self.__dob,
        )
   

usr1=Person("anu","goyal",1990)
print(f"the age of user is{usr1.age(2021)}")
usr2=Person("sanu","goyal",1992)
print(usr2)

the age of user is31
sanu goyal and was born 1992.

In [150]:
usr1.__name
usr1.__surname

AttributeError: 'Person' object has no attribute '__name'